<h1>Cocktails</h1>
<ul>
  <% @cocktails.each do |cocktail| %>
  <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
  <% end %>
</ul>
<%= link_to "Add a new cocktail", new_cocktail_path %>
