#banner_background {
  background-color: white;
  background-image: url(https://images.unsplash.com/photo-1521394573970-cdcef757fddd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1346&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3) 0.5);
}
